*{
    padding: 0;
}
@font-face {
    font-family: "DINWebPro";
    src: url('../fonts/DINWebPro-Medium.woff');
}
@font-face {
    font-family: "owl";
    src: url('../fonts/OWL.woff2');
}
@font-face {
    font-family: 'SH';
    src: url('../fonts/SH.OTF');
}


body{
    width: 100%;
    height: auto;
    margin: auto;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    padding: 0;
    display: block;
    cursor: url('../img/cursor.png'),default;
}
p{
    font-family:"Microsoft Yahei",Tahoma, Arial, Helvetica, "Calabri",sans-serif;
}
#container{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.fullscreen{
    width: 100%;
    height: auto;
    background: #000;
    position: relative;
    /*border-bottom: 1px solid rgb(170,255,255);*/
}
.display-block{
    display: block;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 10px;
}
 /*滚动槽*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,255,255,0.6);
    border-radius: 8px;
    background-color: #000;
}
 /*滚动条滑块*/
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(170,255,255,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,255,0.9);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.5);
}
/*Fullscreen*/


/*header*/
#header {
    /*background-color: #000000;*/
    background: url(../img/header_bg.jpg) 50% 50% / cover no-repeat;
    position: relative;
}
#mytitle,#mytitle-chn{
    display: block;
    font-family: 'SH',"owl","Microsoft Yahei";
    font-size: 3em;
    position: absolute;
    color: #fff;
}
#mytitle{
    text-shadow: 0px 0px 10px #c4fff7;
    letter-spacing: 0.15em;
}
#mytitle-chn{
    text-shadow: 0px 0px 10px #c4fff7;
    letter-spacing: 0.3em;
    opacity: 1;
}
#magic,#inner-circle,#outer-circle{
    display: block;
    margin: auto;
    position: absolute;
    z-index:1;
}
.init{
    -webkit-transform: scale(0);
    -moz-transform: scale(0,0);
    transform:scale(0,0);
}
#header-circle{
    display: block;
    margin: auto;
    position: absolute;
    width: 400px;
    height: 400px;
    z-index:1;
    text-align: left;
}
.paused{
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari 和 Chrome */
}
#inner-circle{
    top:100px;
    left:100px;
    cursor: url('../img/pointer.png'),pointer;
}
#icon-me{
    position: absolute;
    display: block;
    z-index:0 !important;
    height: 158px;
    border-radius: 300px;
    cursor: url('../img/pointer.png'),pointer;
    opacity: 0.92;
}
.icon-intro{
    position: absolute;
    z-index: 2;
    border-radius: 120px;
    transform:scale(0.4,0.4)\9;
    cursor: url('../img/pointer.png'),pointer;
    box-shadow: 0px 0px 6px 6px rgba(0,255,255,0.7);
}
.my-info p{
    display: block;
    position: relative;
    z-index:20;
    background-color: #000;
    padding: 5px 10px;
    color: #c4fff7;
    text-shadow: 0px 0px 5px rgb(255,255,255);
    box-shadow: 0px 0px 3px 3px rgba(0,255,255,0.7);
    font-family: "owl","Microsoft Yahei";
    line-height: 1.2em;
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
}

.my-info{
    position: absolute;
    display: none;

}

#briefintro-info:before{
    content: url("../img/line1.png");
    position: absolute;
    right: 150px;
    top:25px
}
#icon-brief-intro{
    top:-25px;
    left:125px;
}

#skills-info:before{
    content: url("../img/line2.png");
    position: absolute;
    right: 110px;
    top:25px
}
#icon-skills{
    top:77px;
    left: 263px;
}

#projects-info:before{
    content: url("../img/line3.png");
    position: absolute;
    right: 100px;
    top:-5px;
}

#icon-projects{
    top: 243px;
    left: 212px;
}
#blog-info:before{
    content: url("../img/line4.png");
    position: absolute;
    left: 120px;
    top:5px;
}
#icon-blog{
    top: 243px;
    left: 36px;
}
#music-info:before{
    content: url("../img/line5.png");
    position: absolute;
    left: 100px;
    top:15px;
}


#icon-music{
    top: 77px;
    left: -22px;
}

/*header*/
/*导航*/
#nav{
    display: block;
    position: fixed;
    z-index:20;
    right: 30px;
    top:40%;
    cursor: url('../img/pointer.png'),pointer;
}
.nav-bar{
    opacity: 0.5;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #fff;
}
.active{
    opacity: 1;
}
/*导航*/

/*简介*/
#briefintro{
            background: url(../img/bg-intro.jpg) 50% 50% / cover no-repeat;
            text-align: center;
        }
        #briefintro .content{
            color: #fff;
            text-align: right;
        }
        .mid-title{
            display: block;
            font-family: "SH","owl","Microsoft Yahei";
            font-weight: normal;
            font-size: 3em;
            position: absolute;
            left: 30%;
            top:30px;
            color: #fff;
        }
        .content{
            display:block;
            position: absolute;
            font-family:owl,"Microsoft Yahei",Helvetica, Arial, sans-serif;
            font-weight: normal;
            text-align: center;
            font-size: 1.3em;
            line-height: 1.8em;
            letter-spacing: 0.1em;
            word-spacing: 0.3em;
        }
        .content-intro-1{
            top:150px;
        }
/*skill*/
#skills{
    background: url(../img/skills_bg.jpg) 50% 50% / cover no-repeat;
}
.ch-grid {
    position: absolute;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%
}

.ch-grid:after, .ch-item:before {
    content: '';
    display: table
}

.ch-grid:after {
    clear: both
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 30px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: url('../img/pointer.png'),pointer;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -o-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px
}

.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%
}

.ch-info .ch-info-front {
    box-shadow: inset 0 0 0 16px rgba(0, 0, 0, 0.3)
}

.ch-info .ch-info-back {
    -webkit-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    -moz-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    -o-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    /*background: #FF0066;*/
    background-color: #0769AD;
    opacity: 0
}
.ch-1{
    background-color: #DD502C !important;

}
.ch-3{
    background-color: #E29F39 !important;
}
.ch-4{
    background-color: #4FA32F !important;
}
.ch-5{
    background-color: #DF1439 !important;
}


.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 15px;
    padding: 40px 0 0 0;
    height: 110px;
    font-family: 'SH','Open Sans', Arial, sans-serif;
    /*text-shadow: 0 0 1px #000, 0 1px 2px rgba(0, 0, 0, 0.3);*/
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    /*font-style: italic;*/
    /*margin: 0 30px;*/
    margin-top: -80px;
    font-size: 14px;
    /*border-top: 1px solid #FFF;*/
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255, 242, 34, 0.8)
}

.ch-item:hover .ch-info-front {
    -webkit-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    -moz-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    -o-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    -ms-transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    opacity: 0
}

.ch-item:hover .ch-info-back {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
    opacity: 1
}

.ch-img-1 {
    background-image: url(../img/html.jpg);
    background-color: rgb(125,135,183)
}

.ch-img-2 {
    background-image: url(../img/css3.jpg);
    background-color: rgb(70,70,70)
}

.ch-img-3 {
    background-image: url(../img/js.jpg);
}

.ch-img-4 {
    background-image: url(../img/qt.jpg);
}

.ch-img-5 {
    background-image: url(../img/java.jpg);
    background-color: rgb(70,70,70)
}

/*projects*/
/*#projects*/
#projects{
    background: url(../img/projects.jpg) 50% 50% / cover no-repeat;
}
.project-1{
    background-image: url("../img/mypage.jpg");
}
.pro-1{
    background-color: #009999 !important;
}
.project-2{
    background-image: url("../img/aiesec_fu.jpg");
}
.pro-2{
    background-color: #8EC641 !important;
}
.project-3{
    background-image: url("../img/hpcp.jpg");
}
.pro-3{
    background-color: #31DBED !important;
}
.project-4{
    background-image: url("../img/penta.jpg");
}
.pro-4{
    background-color: #F76566 !important;
}
.project-5{
    background-image: url("../img/percel.jpg");
}
.pro-5{
    background-image: url("../img/bg.png");
}












/*blog*/
#blog{
    background: url(../img/blog_bg.jpg) 50% 50% / cover no-repeat;
}

#music{
    background: url(../img/music.jpg) 50% 50% / cover no-repeat;
}
#player{
    position: absolute;
    left:0px;
}
#music-article{
    position: relative;
    display: block;
    margin: 100px auto;
}
#music-article p {
    color: #fff;
    font-family: "SH","Microsoft Yahei";
    font-size: 1.3em;
    text-align: center;
    line-height: 1.5em;
    text-shadow: 0px 0px 5px #fff;
}

/*动画*/
@-webkit-keyframes magic{
    0% {
        -webkit-transform: rotate(0deg); /* Safari 和 Chrome */
    }
    100%{
        -webkit-transform: rotate(360deg); /* Safari 和 Chrome */
    }
}
@keyframes magic{
    0% {
        /*transform: rotate(0deg);*/
        transform: rotate(0deg); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        transform: rotate(360deg); /* Firefox */
    }
}
@-moz-keyframes magic{
    0% {
        /*transform: rotate(0deg);*/
        -moz-transform: rotate(0deg); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        -moz-transform: rotate(360deg); /* Firefox */
    }
}

@-webkit-keyframes inner-rotating{
    0% {
        -webkit-transform: rotate(360deg); /* Safari 和 Chrome */
    }
    100%{
        -webkit-transform: rotate(0deg); /* Safari 和 Chrome */
    }
}
@keyframes inner-rotating{
    0% {
        /*transform: rotate(0deg);*/
        transform: rotate(360deg); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        transform: rotate(0deg); /* Firefox */
    }
}
@-moz-keyframes inner-rotating{
    0% {
        /*transform: rotate(0deg);*/
        -moz-transform: rotate(360deg); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        -moz-transform: rotate(0deg); /* Firefox */
    }
}
/*显示icons*/
@-moz-keyframes showing-icons{
    0% {
        /*transform: rotate(0deg);*/
        -moz-transform: scale(0,0); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        -moz-transform: scale(0.4,0.4); /* Firefox */
    }
}
@-webkit-keyframes showing-icons{
    0% {
        /*transform: rotate(0deg);*/
        -webkit-transform: scale(0); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        -webkit-transform: scale(0.4); /* Firefox */
    }
}
@keyframes showing-icons{
    0% {
        /*transform: rotate(0deg);*/
        transform: scale(0,0); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        transform: scale(0.4,0.4); /* Firefox */
    }
}

/*显示头像和其他*/
@-moz-keyframes showing-head{
    0% {
        /*transform: scale(0,0);*/
        -moz-transform: scale(0,0); /* Firefox */
    }
    100%{
        /*transform: scale(1,1);*/
        -moz-transform: scale(1,1); /* Firefox */
    }
}
@-webkit-keyframes showing-head{
    0% {
        /*transform: rotate(0deg);*/
        -webkit-transform: scale(0); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        -webkit-transform: scale(1); /* Firefox */
    }
}
@keyframes showing-head{
    0% {
        /*transform: rotate(0deg);*/
        transform: scale(0,0); /* Firefox */
    }
    100%{
        /*transform: rotate(359deg);*/
        transform: scale(1,1); /* Firefox */
    }
}
/*鼠标悬浮效果*/
@-moz-keyframes icon-scale-onmouseover{
    0% {
        /*transform: scale(0,0);*/
        -moz-transform: scale(0.4,0.4); /* Firefox */
    }
    60%{
        /*transform: scale(1,1);*/
        -moz-transform: scale(0.7,0.7); /* Firefox */
    }
    100%{
        -moz-transform: scale(0.6,0.6); /* Firefox */
    }
}
@-webkit-keyframes icon-scale-onmouseover{
    0% {
        /*transform: scale(0,0);*/
        -webkit-transform: scale(0.4,0.4); /* Firefox */
    }
    60%{
        /*transform: scale(1,1);*/
        -webkit-transform: scale(0.7,0.7); /* Firefox */
    }
    100%{
        -webkit-transform: scale(0.6,0.6); /* Firefox */
    }
}
@keyframes icon-scale-onmouseover{
    0% {
        /*transform: scale(0,0);*/
        transform: scale(0.4,0.4); /* Firefox */
    }
    60%{
        /*transform: scale(1,1);*/
        transform: scale(0.7,0.7); /* Firefox */
    }
    100%{
        transform: scale(0.6,0.6); /* Firefox */
    }
}

@-webkit-keyframes blinks{
    0% {
        opacity: 1;
        text-shadow: 0px 0px 10px #c4fff7;
    }
    25% {
        opacity: 0.8;
        text-shadow: 0px 0px 15px #c4fff7;
    }
    50% {
        opacity: 0.6;
        text-shadow: 0px 0px 15px #c4fff7;
    }
    75% {
        opacity: 0.8;
        text-shadow: 0px 0px 10px #c4fff7;
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 10px #c4fff7;
    }
}
@keyframes blinks{
    0% {
        opacity: 1;
        text-shadow: 0px 0px 10px #c4fff7;
    }
    25% {
        opacity: 0.8;
        text-shadow: 0px 0px 15px #c4fff7;
    }
    50% {
        opacity: 0.6;
        text-shadow: 0px 0px 15px #c4fff7;
    }
    75% {
        opacity: 0.8;
        text-shadow: 0px 0px 10px #c4fff7;
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 10px #c4fff7;
    }
}
@-moz-keyframes blinks{
    0% {
        opacity: 1;
        text-shadow: 0px 0px 10px #c4fff7;
    }
    25% {
        opacity: 0.8;
        text-shadow: 0px 0px 15px #c4fff7;
    }
    50% {
        opacity: 0.6;
        text-shadow: 0px 0px 15px #c4fff7;
    }
    75% {
        opacity: 0.8;
        text-shadow: 0px 0px 10px #c4fff7;
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 10px #c4fff7;
    }
}


.icon-showed{
    -webkit-animation: showing-icons 0.3s ease 0s forwards;
    -moz-animation: showing-icons 0.3s ease 0s forwards;
    -o-animation-timing-function: showing-icons 0.3s ease 0s forwards;
    animation-timing-function:showing-icons 0.3s ease 0s forwards;
}
.head-showed{
    -webkit-animation: showing-head 0.5s ease 0s forwards;
    -moz-animation: showing-head 0.5s ease 0s forwards;
    -o-animation-timing-function: showing-head 0.5s ease 0s forwards;
    animation-timing-function:showing-head 0.5s ease 0s forwards;
}
.circle-showed{
    -webkit-animation: showing-head 0.5s ease 0s forwards;
    -moz-animation: showing-head 0.5s ease 0s forwards;
    -o-animation-timing-function: showing-head 0.5s ease 0s forwards;
    animation-timing-function:showing-head 0.5s ease 0s forwards;
}
.outer-circle-showed{
    -webkit-animation: showing-head 0.5s ease 0s forwards;
    -moz-animation: showing-head 0.5s ease 0s forwards;
    -o-animation-timing-function: showing-head 0.5s ease 0s forwards;
    animation-timing-function:showing-head 0.5s ease 0s forwards;
}
.rotating{
    -webkit-animation: magic 30s linear 0s infinite running;
    -moz-animation: magic 30s linear 0s infinite running;
    -o-animation-timing-function: magic 30s linear 0s infinite running;
    animation-timing-function:magic 30s linear 0s infinite running;
}

.reverse-rotating{
    -webkit-animation: inner-rotating 30s linear 0s infinite running;
    -moz-animation: inner-rotating 30s linear 0s infinite running;
    -o-animation-timing-function: inner-rotating 30s linear 0s infinite running;
    animation-timing-function:inner-rotating 30s linear 0s infinite running;
}
.icon-intro:hover{
    -webkit-animation: icon-scale-onmouseover 0.218s ease 0.0s forwards;
    -moz-animation: icon-scale-onmouseover 0.218s ease 0.0s forwards;
    -o-animation-timing-function: icon-scale-onmouseover 0.218s ease 0s forwards;
    animation-timing-function:icon-scale-onmouseover 0.218s ease 0s forwards;
}

#guo{
    -webkit-animation: blinks 4s linear 0s infinite running;
    -moz-animation: blinks 4s linear 0s infinite running;
    -o-animation-timing-function: blinks 4s linear 0s infinite running;
    animation-timing-function:blinks 4s linear 0s infinite running;
}
#qu{
    -webkit-animation: blinks 4s linear 1s infinite running;
    -moz-animation: blinks 4s linear 1s infinite running;
    -o-animation-timing-function: blinks 4s linear 1s infinite running;
    animation-timing-function:blinks 4s linear 1s infinite running;
}
#dot{
    -webkit-animation: blinks 4s linear 2s infinite running;
    -moz-animation: blinks 4s linear 2s infinite running;
    -o-animation-timing-function:blinks 4s linear 2s infinite running;
    animation-timing-function:blinks 4s linear 2s infinite running;
}
#wei{
    -webkit-animation: blinks 4s linear 3s infinite running;
    -moz-animation: blinks 4s linear 3s infinite running;
    -o-animation-timing-function: blinks 4s linear 3s infinite running;
    animation-timing-function:blinks 4s linear 3s infinite running;
}
#lai{
    -webkit-animation: blinks 4s linear 4s infinite running;
    -moz-animation: blinks 4s linear 4s infinite running;
    -o-animation-timing-function:blinks 4s linear 4s infinite running;
    animation-timing-function:blinks 4s linear 4s infinite running;
}