
@media screen and (max-width: 767px) {
    html{
        background-image: url(../images/bg.png);
    }
    .container{
        background: transparent !important;
        color: #eee;
    }
    body{
        background: transparent !important;
    }
    .container{
        width: 100%;
        padding: 0px;
    }
    .row{
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .header{
        width: 100% !important;
        background: rgba(16,16,16,0.5);
        margin: 0px;
        margin: 0px;
    }
    .logo{
        width: 160px !important;
        border: none !important;
    }
    label{
        font-size: 1.4rem !important;
    }
    .work-time-input{
        margin-left:0px !important;
    }
    .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
        padding-left: 0px;
        padding-right: 2%;
    }

    button{
        min-width: 160px;
    }
    .contain-phone{
        margin-top: 1%;
        background-color: rgba(0,0,0,0.3);
        border-radius: 5px;
    }
    .contain-phone-textarea{
        background-color: rgba(0,0,0,0.3);
        border-radius: 0px 0px 5px 5px;
        margin-top: 0% !important;
    }
    .contain-phone-textarea-head{
        background-color: rgba(0,0,0,0.3);
        border-radius: 5px 5px 0px 0px;
        margin-top: 1% !important;
    }
   #add-one-phone{
        font-size: 1.2rem !important;
        color:#fff !important;
        background-color:#36f; 
        border-radius: 5px;
        padding: 5px;
        height: 40px !important;
        cursor: pointer;
    }
    #add-one-phone:hover,#add-one-phone:active{
        background-color:#369; 
    }
    .remove-phone{
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        display: inline-block;
        background-color:#f11; 
        border-radius: 5px;
        padding: 4px 0px 6px 0px;
        cursor: pointer;
        margin-top: 10px;
       /* margin-top:50%;*/
    }
    .remove-phone:active{
        background-color:#f60; 
    }
    .remove-phone img{
        width: 13px;
        margin: auto;
        text-align: center;
    }
    .remove-phone img:active{
        border: 2px solid #fff;
    }
    .sigNav a.current,
    .sigNav a.current:link,
    .sigNav a.current:visited {
    background-color: #666;
    color: #fff;
    text-decoration: none;
}

.sigNav .typeIt a.current,
.sigNav .typeIt a.current:link,
.sigNav .typeIt a.current:visited {
  background-color: #ccc !important;
  color: #555 !important;
}

}


/*平板*/
@media all and (min-width:768px) and (max-width: 991px) {
    input {
    width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    text-indent: 0.5rem;
    padding-left: 0px !important;
    padding-right: 5px !important;
    outline: none;
    }

    .visible-xsm {
        display: none !important;
    }

    #intro {
        font-size: 1rem;
    }

    label {
        font-size: 1.2rem;
    }

    .logo {
        padding: 18px 5px 18px 5px;
    }

    #Datum-i-vreme-otvaranja-naloga-input {
        margin-left: -35px;
    }

    #account-label {
        font-size: 3.6rem !important;
    }

    #br {
        font-size: 2.8rem !important;
    }

    #buyer-input {
        width: 335px;
    }

    #address-input {
        width: 226px;
    }

    #street-input {
        width: 280px;
    }

    #number-input {
        width: 178px;
    }

    #km-input {
        width: 84px;
    }

    #km-label {
        font-size: 2rem !important;
    }

    #associated-services-input{
        width: 533px;
        margin-left: 20px;
        height: auto;
    } 
    #notes-input {
        width: 608px;
        margin-left: 20px;
        height: auto;
    }

    #hr1, .hra {
        margin-top: 30px;
        margin-left: 185px;
        width: 536px;
    }

    #hr1 {
        margin-top: -40px;
    }

    #hr2,.hrb {
        margin-top: 30px;
        margin-left: 110px;
    }
    #hr2{
        margin-top: -40px;
    }
    .work-description-input, .work-time-input {
        margin-bottom: 20px;
    }

    .work-description-input {
        width: 506px;
    }

    .work-time-input {
        width: 158px;
    }

    #total-time-cosume-input {
        width: 722px;
    }

    .description-input {
        width: 410px;
        margin-bottom: 20px;
    }

    .count-input {
        width: 130px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .jedmere-input {
        width: 110px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    #count-label{
        text-align: center;
    }
    #buyer-sign-input, #datetime-sign-input, #pelcer-sign-input {
        width: 214px;
    }

    #associated-services-input, #notes-input {
        text-indent: 0.5rem;
        margin-top: -5px;
        resize: none;
        font-size: 1.6rem;
        color: #000;
        background-color: transparent;
        line-height: 30px;
        outline: none;
        border: none;
    }
    .pad{
        width: 198px;
        height: 80px;
    }
}
/*平板*/


/*中屏幕*/
@media screen and (min-width:992px) and (max-width: 1199px) {
    .visible-xsm {
        display: none !important;
    }
    input {
    width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    text-indent: 0.5rem;
    padding-left: 0px !important;
    padding-right: 5px !important;
    outline: none;
    }

    .logo {
        padding: 12px;
    }

    #intro {
        font-size: 1.3rem;
    }

    #Datum-i-vreme-otvaranja-naloga-input {
        margin-left: -55px;
    }

    #account-label {
        font-size: 5rem !important;
    }

    #br {
        font-size: 3.6rem !important;
    }

    #buyer-input {
        width: 470px;
    }

    #address-input {
        width: 239px;
    }

    #street-input {
        width: 393px;
    }

    #number-input {
        width: 178px;
    }

    #km-input {
        width: 119px;
    }

    #km-label {
        font-size: 2rem !important;
    }

    #associated-services-input{
        width: 675px;
        margin-left: 20px;
        height: auto;
        }
    #notes-input {
        width: 740px;
        margin-left: 30px;
        height: auto;
    }

    #hr1, .hra {
        margin-top: 30px;
        margin-left: 185px;
        width: 674px;
    }

    #hr1 {
        margin-top: -40px;
    }
    
    #hr2, .hrb {
        margin-top: 30px;
        margin-left: 120px;
        width:736px;
    }
    #hr2{
        margin-top: -40px;
    }

    .work-description-input, .work-time-input {
        margin-bottom: 20px;
    }

    .work-description-input {
        width: 610px;
    }

    .work-time-input {
        width: 188px;
    }

    #total-time-cosume-input {
        width: 858px;
    }

    .description-input {
        width: 482px;
        margin-bottom: 20px;
    }

    .count-input {
        width: 150px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .jedmere-input {
        width: 150px;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    #buyer-sign-input, #datetime-sign-input, #pelcer-sign-input {
        width: 214px;
    }
    .pad{
        width: 198px;
        height: 80px;
    }
}
/*中屏幕*/


/*大屏幕*/
@media all and (min-width:1200px) {
    input {
    width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    text-indent: 0.5rem;
    padding-left: 0px !important;
    padding-right: 5px !important;
    outline: none;
    }

    .visible-xsm {
        display: none !important;
    }

    .logo {
        padding: 2px;
    }

    #intro {
        font-size: 1.5rem;
    }

    #Datum-i-vreme-otvaranja-naloga-input {
        margin-left: -45px;
    }

    #account-label {
        font-size: 5rem !important;
    }

    #br {
        font-size: 3.6rem !important;
    }

    #buyer-input {
        width: 680px;
    }

    #address-input {
        width: 210px;
    }

    #street-input {
        width: 495px;
    }

    #number-input {
        width: 230px;
    }

    #km-input {
        width: 152px;
    }

    #km-label {
        font-size: 2rem !important;
    }

    #associated-services-input{
        width: 856px;
        margin-left: 20px;
        height: auto;
        } 
    #notes-input {
        width: 936px;
        margin-left: 20px;
        height: auto;
    }

    #hr1, .hra {
        margin-top: 30px;
        margin-left: 185px;
        width: 858px;
    }

    #hr1 {
        margin-top: -40px;
    }
    
    #hr2,.hrb {
        margin-left: 110px;
        margin-top: 30px;
        width: 930px;
    }
    #hr2{
        margin-top: -40px;
    }
    .work-description-input, .work-time-input {
        margin-bottom: 20px;
    }

    .work-description-input {
        width: 810px;
    }

    .work-time-input {
        width: 173px;
    }

    #total-time-cosume-input {
        width: 840px;
    }

    .description-input {
        width: 612px;
        margin-bottom: 20px;
    }

    .count-input {
        width: 180px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .jedmere-input {
        width: 175px;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    #buyer-sign-input, #datetime-sign-input, #pelcer-sign-input {
        width: 263px;
    }
    .pad{
        width: 198px;
        height: 80px;
    }
}
/*大屏幕 end*/



.container {
    background-color: #fff;
}

html{
    background-image: url(../images/bg.png);
}

body {
    margin-top: 2%;
    background-color: transparent;
    padding-bottom: 20px;
}

label {
    font-family: Tahoma, Arial,Helvetica,"Calabri";
    font-size: 1.8rem;
    font-weight: normal;
    padding-left: 4px !important;
    padding-right: 0px !important;
    text-align: left;
}


.header {
    margin-top: 1%;
    line-height: 0.5em;
    text-align: center;
}

.logo {
    width: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#intro {
    margin-left: -15px;
    padding-top: 10px;
    border-bottom: 1px solid #000;
    font-family: Helvetica;
}

#form-main {
    margin-top: 10px;
    /*width: 100%;*/
}

.form-shell {
    text-align: left;
    padding: 5px 0px;
    overflow: hidden;
}

#associated-services-input, #notes-input {
    text-indent: 0.5rem;
    margin-top: -5px;
    resize: none;
    font-size: 1.6rem;
    color: #000;
    background-color: transparent;
    line-height: 30px;
    outline: none;
    border: none;
}

hr {
    border-top: 1px solid #000;
}

.work-description-input {
    padding-right: 25px !important;
}

.work-time-input {
    margin-left: 15px;
}

#add-one {
    font-size: 2rem;
    cursor: pointer;
    color: #01A3DF !important;
}

.work-time-input, .count-input, .jedmere-input, #buyer-sign-input, #datetime-sign-input, #pelcer-sign-input, #buyer-sign-label, #datetime-sign-label, #pelcer-sign-label {
    text-align: center;
}

#materail-cosume-label {
    font-size: 2.2rem;
    font-weight: bold;
}

.remove {
    font-size: 1.5em;
    font-weight: normal;
    color: #f00;
    line-height: 1.5em;
    width: 10px ;
    cursor: pointer;
}

.sigNav, .sigNav li{
    display:inline-block;
    list-style:none;
}