

h1{
	color:#428bca;
}
html{
	background: #eef2f6;
}
body{
	margin-top: 10%;
	background:#eef2f6;
}
form{
	background: #eee;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 5px;
	padding: 3%;
	border: 1px solid #999;
}
.btn{
	max-width: 100px;
	min-width: 40%;
}