@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.g__left-filter {
  display: block;
  position: relative;
  float: left;
  margin-left: -252px;
  width: 240px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 30px;
  background-color: #fff;
  box-shadow: 0 0 3px #ccc;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .g__left-filter:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .g__left-filter .toggle-filter-btn {
    display: block;
    position: absolute;
    vertical-align: middle;
    left: 20px;
    top: 12px;
    cursor: pointer;
    color: #4DBFE0; }
    .g__left-filter .toggle-filter-btn:before {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      content: "";
      padding-right: 3px;
      cursor: pointer; }
    .g__left-filter .toggle-filter-btn:hover {
      text-decoration: underline; }
  .g__left-filter .m-wrapper {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #dedede; }
    .g__left-filter .m-wrapper:last-child {
      border-bottom: none; }
  .g__left-filter .wen-li {
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    box-shadow: 0 0 3px 0 #4DBFE0;
    transition: .4s; }
    .g__left-filter .wen-li:hover {
      box-shadow: 0 0 0 1px #4DBFE0; }
    .g__left-filter .wen-li .item {
      float: left;
      width: 50%;
      height: inherit; }
      .g__left-filter .wen-li .item label {
        display: block;
        width: 100%;
        height: inherit;
        cursor: pointer;
        background-color: #fff;
        transition: .6s; }
        .g__left-filter .wen-li .item label em {
          font-style: normal;
          color: #4DBFE0; }
      .g__left-filter .wen-li .item input[type="radio"] {
        display: none; }
        .g__left-filter .wen-li .item input[type="radio"]:checked + label {
          background-color: #4DBFE0; }
          .g__left-filter .wen-li .item input[type="radio"]:checked + label em {
            color: #fff; }
  .g__left-filter .wrapper-1 .province-wrapper {
    width: 100%;
    padding-top: 20px;
    height: 50px; }
    .g__left-filter .wrapper-1 .province-wrapper select {
      width: 100%; }
  .g__left-filter .wrapper-1 .grade-wrapper {
    width: 100%;
    padding-top: 20px; }
  .g__left-filter .wrapper-2,
  .g__left-filter .wrapper-3 {
    padding-top: 15px; }
    .g__left-filter .wrapper-2 h5,
    .g__left-filter .wrapper-3 h5 {
      text-align: left;
      font-size: 14px;
      color: #3E3A39; }
    .g__left-filter .wrapper-2 .link-box,
    .g__left-filter .wrapper-3 .link-box {
      padding: 5px 0; }
      .g__left-filter .wrapper-2 .link-box button,
      .g__left-filter .wrapper-3 .link-box button {
        width: 100%;
        height: 35px;
        line-height: 1;
        box-sizing: border-box;
        color: #848484;
        outline: none;
        border-radius: 1px;
        text-align: left;
        padding-left: 40px;
        border: 1px solid #848484;
        background: transparent;
        transition: all ease-out .3s; }
        .g__left-filter .wrapper-2 .link-box button:hover, .g__left-filter .wrapper-2 .link-box button.active,
        .g__left-filter .wrapper-3 .link-box button:hover,
        .g__left-filter .wrapper-3 .link-box button.active {
          color: #fff;
          background-color: #4DBFE0;
          border-color: #4DBFE0; }
        .g__left-filter .wrapper-2 .link-box button i,
        .g__left-filter .wrapper-3 .link-box button i {
          vertical-align: middle;
          font-size: 16px;
          padding-right: 8px; }
        .g__left-filter .wrapper-2 .link-box button span,
        .g__left-filter .wrapper-3 .link-box button span {
          vertical-align: middle; }
