/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.m_major .m_icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

.m_major {
  display: inline-block;
  vertical-align: top;
  width: auto;
  min-width: 155px;
  box-sizing: border-box;
  padding: 15px;
  height: 70px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #848484;
  transition: .3s; }
  .m_major:hover {
    border-color: #ccc;
    color: #3E3A39;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.11); }
  .m_major .m_icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    background: #4DBFE0;
    font-size: 28px;
    color: #fff; }
  .m_major .m_text {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none; }
