@import "../mixin/css3";
@import "../../settings";
@import "../../extends";

.m-comment{
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  border: none;
  text-align: center;
  @extend %toggleIn;
  &::after{
    display: block;
    content: "";
    position: relative;
    padding-top: 20px;
    width: 650px;
    height: 0;
    margin: auto;
    border-bottom: 1px solid #dedede;
  }
  &:last-child{
    &::after{
      display: none;
    }
  }
  .m-user{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100px;
    height: 80px;
    &>span{
      display: block;
      padding: 5px 0;
      font-size: 13px;
    }
    .user-avatar{
      width: 60px;
      height: 60px;
      border-radius: 50px;
      margin: 10px auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .right-content{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    width: 500px;
    height: auto;
    text-align: left;
    .username{
      color: #369;
    }
    .m-content{
      height: auto;
      margin-top: 10px;
      font-size: 14px;
    }
    .m-vote-wrapper{
      float: right;
      height: 40px;
      .vote{
        display: inline-block;
        padding-right: 5px;
        margin: 5px 10px;
        min-width: 50px;
        font-size: 16px;
        color: $color-secondary;
        font-style: normal;
        &:before{
          padding-right: 5px;
        }
      }
      .upvote-false,
      .downvote-false{
        &:before{
          display: inline-block;
          @extend %iconfont;
          content: '\e665';
          font-size: 18px;
          color: $color-secondary;
          &:hover{
            color: #369;
          }
        }
      }
      .upvote-true,
      .downvote-true{

        &:before{
          display: inline-block;
          @extend %iconfont;
          content: '\e664';
          font-size: 18px;
          color: #369;
        }
      }
      .downvote-true,.downvote-false{
        &:before{
          transform: rotate(180deg);
        }
      }
    }
  }

}
