@import "../mixin/css3";
@import "../../settings";
@import "../../extends";

.m__filter-res-school{
  display: inline-block;
  vertical-align: top;
  width: 435px;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 1px;
  border: 1px solid #ddd;
  transition: .3s;
  @extend %toggleIn;
  &:hover{
    box-shadow: 0 0 6px 1px rgba(0,0,0,.11);
  }
  .m__img{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
  }
  .m__right-content{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 320px;
    height: 80px;
    color: $color-secondary;
    h4{
      height: 30px;
      line-height: 35px;
      padding-left: 15px;
      font-size: 18px;
      cursor: pointer;
    }
    .m__school-tags{
      display: block;
      padding-left: 15px;
      height: 50px;
      line-height: 20px;
      width: 250px;
      em{
        font-size: 14px;
        font-style: normal;
        &:hover{
          color: $color-main-b;
        }
      }
    }
    .m__grade{
      display: block;
      position: absolute;
      top:0;
      right: 0;
      width: 80px;
      height: 80px;
      text-align: center;
      span{
        display: block;
        margin: auto;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
      }
      em{
        display: block;
        margin: auto;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50px;
        font-style: normal;
        color: #fff;
        background-color: $color-main-b;
      }
    }
  }
}
