@import "../../settings";
@import "../../extends/animation";

.g__mask{
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: all ease-out 1s;
  background-color: rgba(0,0,0,0);
  text-align: center;

  &.show{
    display: block;
    animation: fadeIn ease .5s forwards;
    .g__modal-window{
      @extend %toggleIn;
    }
  }

  &.hide{
    display: block;
    animation: fadeOut ease .4s forwards;
    .g__modal-window{
      @extend %toggleOut;

    }
  }

  .g__modal-window{
    $modal_width: 550px;
    $modal_height: 450px;
    display: block;
    position: relative;
    width: $modal_width;
    height: $modal_height;
    top: 50%;
    margin: auto;
    background-color: #f5f5f5;
    margin-top: - 0.5 * $modal_height;
    text-align: left;
    border-radius: 1px;
    box-shadow: 0 0 0 5px rgba(0,0,0,.1);

    //分配给登陆注册忘记密码的模态框的顶栏条
    .m-modal-title{
      position: relative;
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 100%;

      .m-title-item{
        display: block;
        float: left;
        height: inherit;
        box-sizing: border-box;
        border-top: 5px solid transparent;
        width: 33.33%;
        font-size: 14px;
        transition: ease .2s;
        cursor: pointer;

        &.active{
          border-top-color: $color-main-b;
        }
        &:hover{
          color: $color-main-b;
        }
      }
    }

    //下方
    .m-modal-content{
      position: relative;
      width: inherit;
      height: $modal_height - 40px;
      .m-left{
        float: left;
        width: 200px;
        height: inherit;
        box-sizing: border-box;
        animation: toggleIn ease 0.8s forwards;
        .app-download{
          width: inherit;
          height: 320px;
          margin-top: 0.5*($modal_height - 40px - 320px);
          text-align: center;
          border-right: 1px solid $color-border;

          h5{
            display: block;
            margin: auto;
            color: $color-main-b;
            padding-top: 50px;
            margin-bottom: 15px;
          }
          .m-qr-code{
            margin:auto;
            width: 100px;
            height: 100px;
          }
        }
      }
      .m-right{
        float: right;
        width: $modal_width - 200;
        height: inherit;
        text-align: center;

        //表单区
        .form-area{
          margin: auto;
          height: 320px;
          padding-top: 50px;
          width: 230px;
          .input-row{
            width: inherit;
            margin-bottom: 15px;
            input.verify-code {
              width: 100px;
              display: inline-block;
              vertical-align: middle;
            }
          }
          .verify_code_btn.disable{
            background-color: $color-secondary;
            color: #ccc;
            cursor: not-allowed;
          }
          .err-row{
            text-align: center;
            height: 25px;
            line-height: 25px;
            .warning-tip{
              color: #ef4f2b;
            }
            .success-tip{
              color: #4eab74;
            }
          }
          .submit-btn{
            display: block;
            margin: auto;
            margin-top: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background-color: $color-main-b;
            box-shadow: 0 0 0 0 #ccc;
            transition: ease .3s;
            color: white;
            cursor: pointer;
            &:before{
              @extend %iconfont;
              content: $icon-check;
              font-size: 30px;
              font-weight: bold;
            }
            &:hover{
              box-shadow: 0 0 5px 0 #666;
            }
          }

          &.login,
          &.register,
          &.forget_password{
            display: none;
          }

          //注册表单适当调整间距
          &.register{
            .input-row{
              margin-bottom: 10px;
            }
            .err-row{
              height: 20px;
              line-height: 20px;
            }
            .submit-btn{
              margin-top: 15px;
            }
          }


        }
          //第三方登录
        .other-platform-login{
          width: 260px;
          height: 50px;
          margin: auto;
          line-height: 40px;
          animation: toggleIn ease .7s forwards;
          em{
            font-style: normal;
            padding-right: 20px;
            font-size: 16px;
            color: #888;
          }
          a{
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            line-height: 30px;
            font-size: 24px;
            color: white;
            text-align: center;
            @extend %iconfont;
            text-decoration: none;
            background-color: #cecfd0;
            border-radius: 3px;
            margin-left: 8px;
            transition: .3s;
            &.qq{
              &:hover{
                background-color: #4c96db;
              }
            }
            &.wechat{
              &:hover{
                background-color: #41990c;
              }
            }
            &.weibo{
              &:hover{
                background-color: #fa9112;
              }
            }

          }
        }

      }
    }
    &.login {
      .m-modal-title .m-title-item.tag-login{
        border-top-color: $color-main-b;
        color:$color-main-b;
      }
      .m-modal-content{
        .form-area.login{
          display: block;
          &>*{
            @extend %toggleIn;
          }
        }

      }

    }
    &.register {
      .m-modal-title .m-title-item.tag-register{
        border-top-color: $color-main-b;
        color:$color-main-b;
      }
      .m-modal-content{
        .form-area.register{
          display: block;
          &>*{
            @extend %toggleIn;
          }
        }

      }
    }

    &.forget_password {
      .m-modal-title .m-title-item.tag-forget_password{
        border-top-color: $color-main-b;
        color:$color-main-b;
      }
      .m-modal-content{
        .form-area.forget_password{
          display: block;
          &>*{
            @extend %toggleIn;
          }
        }

      }
    }
  }
}
