@import "../../settings";
.school-avatar{
  float: left;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}
.school-right{
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
  width: 480px;
  text-align: left;
  h3{
    //school-name
    margin-top: 6px;
    font-size: 18px;
  }
  .tags-wrapper{
    .tag{
      font-size: 16px;
      color: $color-secondary;
      margin-right: 8px;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.unlock-all{
  vertical-align: middle;
  width: 200px;
  height: 32px;
  float: right;
  letter-spacing: 1px;
  text-indent: 1px;
  line-height: 1;
  color: $color-main-b;
  background: transparent;
  border: 1px solid $color-main-b;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  margin-top: 15px;
  transition: .3s;

  &:hover{
    color: #fff;
    background-color: $color-main-b;
  }


}
