//A区
$header-height: 53px;

.g-header {

  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;
  background-color: $color-bg-header;
  z-index: 10;
  & > .logo {
    float: left;
    display: block;
    position: relative;
    width: 200px;
    height: inherit;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .header-right-area {
    float: right;
    padding-right: 60px;
    a.link {
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      line-height: $header-height;
      padding: 0 10px;
      color: $color-main;
      &:hover {
        color: $color-main-hover;
        text-decoration: underline;
      }
    }
    .user-head {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      height: $header-height - 16px;
      width: $header-height - 16px;
      margin-top: 8px;
      position: relative;
      border-radius: 30px;
      background-size: cover;
      border: 1px solid $color-border-select;
    }

  }
  .g-search-area {
    padding-top: 8px;
    margin-right: 60px;
    float: right;
  }
}

//B区
.g-left-menu {
  display: block;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: $header-height;
  background-color: $color-bg-left;
  width: 225px;
  bottom: 0;
  z-index: 5;
  li.menu-group {
    width: inherit;
    height: auto;
    min-height: 50px;
    border-bottom: 1px solid $color-border-select;

    p.menu-title {
      height: inherit;
      display: block;
      position: relative;
      line-height: 50px;
      box-sizing: border-box;
      cursor: pointer;
      a {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        padding-left: 15px;
        color: #fff;
        font-size: 14px;
        width: 100%;

        i {
          font-style: normal;
          margin-right: 15px;
          width: 16px;
          height: 16px;
          color: inherit;
        }
        span {
          color: inherit;
        }
      }
    }
    &.has-menu .menu-title > a {
      &:after {
        opacity: 0;
        display: block;
        content: ">";
        position: absolute;
        top: 0;
        right: 15px;
        color: #fff;
        transition: all ease .2s;
      }
      &:hover:after {
        opacity: 1;
      }
    }
    .sub-menu {
      position: relative;
      display: none;
      height: auto;
      transition: all ease .2s;
      transform: scale(1, 0);
      width: inherit;
      a {
        width: inherit;
        display: block;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, .2);
        height: 45px;
        color: #fff;
        line-height: 45px;
        padding-left: 60px;
        &:hover,
        &.active{
          background-color: rgba(255, 255, 255, .1);
        }

      }

    }
    &.active {
      .menu-title a:after {
        opacity: 1;
      }
      .sub-menu {
        display: block;
        transform: scale(1, 1);
      }
    }
  }
  .hide-and-show {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: inherit;
    color: #fff;

    .hide-icon {
      display: block;
      position: relative;
      height: inherit;
      color: inherit;
      float: right;
      text-align: center;
      line-height: 50px;
      width: 65px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        background-color: rgba(255, 255, 255, .1);
      }
    }
  }

}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  .g-container{
    position: absolute;
    box-sizing: border-box;
    top:$header-height;
    right: 0;
    bottom: 0;
    left: 225px;
    height: calc(100vh - 53px);
    overflow: auto;
  }
  &.g-mini {
    padding-left: 65px;
    .g-left-menu {
      width: 65px;
      .menu-group {
        .menu-title {
          & > a {
            span {
              display: none;
            }
            &::after {
              display: none;
            }
          }
        }
        .sub-menu {
          display: none;
        }
      }
    }

    .g-container{
      left: 65px;
    }
  }
}