@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, textarea, p, th, td, tr, table, tbody, thead, tfoot, em, strong, span, form, button, textarea {
  padding: 0;
  margin: 0;
}

body{
  padding-top: 0;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}




html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline
}

a {
  background-color: transparent;
  outline: 0 none;
}

ol, ul {
  list-style: none;
}

a:active, a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: 700
}




img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], html input[disabled] {
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}




.g-clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.g-clearfix {
  *zoom: 1;
}

.g-none {
  display: none;
}