body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, textarea, p, th, td, tr, table, tbody, thead, tfoot, em, strong, span, form, button, textarea {
  padding: 0;
  margin: 0; }

body {
  padding-top: 0; }

em {
  font-weight: normal;
  font-style: normal; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

a {
  background-color: transparent;
  outline: 0 none; }

ol, ul {
  list-style: none; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.g-clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.g-clearfix {
  *zoom: 1; }

.g-none {
  display: none; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.row {
  box-sizing: border-box;
  font-size: 0; }
  .row .col {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px; }

input {
  border-radius: 3px;
  border: 1px solid #686767; }
  input:hover {
    border-color: #ed7246; }
  input:focus {
    border-color: #ed7246;
    outline: none; }

textarea:focus {
  outline: none; }

.ipt {
  padding: 9px 12px;
  font-size: 14px;
  box-sizing: border-box; }

.radio {
  position: relative;
  cursor: pointer; }
  .radio label {
    position: relative;
    padding-left: 20px;
    cursor: pointer; }
    .radio label::before {
      content: "";
      box-sizing: border-box;
      display: block;
      position: absolute;
      left: 0;
      width: 16px;
      height: 16px;
      top: 0px;
      border-radius: 10px;
      background: transparent;
      border: 1px solid #686767; }
    .radio label::after {
      content: "";
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      top: 4px;
      left: 4px;
      border-radius: 10px;
      transition: all ease .3s;
      background-color: #ed7246;
      -webkit-transform: scale(0);
              transform: scale(0); }
  .radio input {
    display: none; }
    .radio input:checked + label::after, .radio input[checked="checked"] + label::after {
      transform: scale(1);
      -webkit-transform: scale(1); }

.btn {
  border-radius: 3px;
  padding: 11px 12px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer; }
  .btn.f {
    float: left; }
  .btn.fs-n {
    padding: 10px 12px; }
  .btn.i-b {
    display: inline-block;
    vertical-align: top; }
  .btn.default {
    color: white;
    background-color: #ed7246; }
    .btn.default:hover {
      background-color: #0275d8; }
  .btn.disabled {
    color: white;
    background-color: #848484;
    cursor: no-drop; }

.g-header {
  position: fixed;
  width: 100%;
  height: 53px;
  top: 0;
  left: 0;
  background-color: #282B2B;
  z-index: 10; }
  .g-header > .logo {
    float: left;
    display: block;
    position: relative;
    width: 200px;
    height: inherit;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center; }
  .g-header > .header-right-area {
    float: right;
    padding-right: 60px; }
    .g-header > .header-right-area a.link {
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      line-height: 53px;
      padding: 0 10px;
      color: #ed7246; }
      .g-header > .header-right-area a.link:hover {
        color: #0275d8;
        text-decoration: underline; }
    .g-header > .header-right-area .user-head {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      height: 37px;
      width: 37px;
      margin-top: 8px;
      position: relative;
      border-radius: 30px;
      background-size: cover;
      border: 1px solid #686767; }
  .g-header .g-search-area {
    padding-top: 8px;
    margin-right: 60px;
    float: right; }

.g-left-menu {
  display: block;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 53px;
  background-color: #4B4E4E;
  width: 225px;
  bottom: 0;
  z-index: 5; }
  .g-left-menu li.menu-group {
    width: inherit;
    height: auto;
    min-height: 50px;
    border-bottom: 1px solid #686767; }
    .g-left-menu li.menu-group p.menu-title {
      height: inherit;
      display: block;
      position: relative;
      line-height: 50px;
      box-sizing: border-box;
      cursor: pointer; }
      .g-left-menu li.menu-group p.menu-title a {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        padding-left: 15px;
        color: #fff;
        font-size: 14px;
        width: 100%; }
        .g-left-menu li.menu-group p.menu-title a i {
          font-style: normal;
          margin-right: 15px;
          width: 16px;
          height: 16px;
          color: inherit; }
        .g-left-menu li.menu-group p.menu-title a span {
          color: inherit; }
    .g-left-menu li.menu-group.has-menu .menu-title > a:after {
      opacity: 0;
      display: block;
      content: ">";
      position: absolute;
      top: 0;
      right: 15px;
      color: #fff;
      transition: all ease .2s; }
    .g-left-menu li.menu-group.has-menu .menu-title > a:hover:after {
      opacity: 1; }
    .g-left-menu li.menu-group .sub-menu {
      position: relative;
      display: none;
      height: auto;
      transition: all ease .2s;
      -webkit-transform: scale(1, 0);
              transform: scale(1, 0);
      width: inherit; }
      .g-left-menu li.menu-group .sub-menu a {
        width: inherit;
        display: block;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        height: 45px;
        color: #fff;
        line-height: 45px;
        padding-left: 60px; }
        .g-left-menu li.menu-group .sub-menu a:hover, .g-left-menu li.menu-group .sub-menu a.active {
          background-color: rgba(255, 255, 255, 0.1); }
    .g-left-menu li.menu-group.active .menu-title a:after {
      opacity: 1; }
    .g-left-menu li.menu-group.active .sub-menu {
      display: block;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
  .g-left-menu .hide-and-show {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: inherit;
    color: #fff; }
    .g-left-menu .hide-and-show .hide-icon {
      display: block;
      position: relative;
      height: inherit;
      color: inherit;
      float: right;
      text-align: center;
      line-height: 50px;
      width: 65px;
      cursor: pointer; }
      .g-left-menu .hide-and-show .hide-icon:hover {
        text-decoration: underline;
        background-color: rgba(255, 255, 255, 0.1); }

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden; }
  body .g-container {
    position: absolute;
    box-sizing: border-box;
    top: 53px;
    right: 0;
    bottom: 0;
    left: 225px;
    height: calc(100vh - 53px);
    overflow: auto; }
  body.g-mini {
    padding-left: 65px; }
    body.g-mini .g-left-menu {
      width: 65px; }
      body.g-mini .g-left-menu .menu-group .menu-title > a span {
        display: none; }
      body.g-mini .g-left-menu .menu-group .menu-title > a::after {
        display: none; }
      body.g-mini .g-left-menu .menu-group .sub-menu {
        display: none; }
    body.g-mini .g-container {
      left: 65px; }

.btn {
  font-size: 12px; }

.btn.fs-n, * {
  font-size: 14px; }

* {
  color: #3E3A39; }

.t-c {
  text-align: center; }
