
//my reset
button{
  border-style: none;
  border: none;
  outline: none;
}

@import "mixin/css3";
@import "../settings";
@import "../settings/animation";
@import "utils/header";
@import "utils/footer";
@import "utils/left-filter";
@import "utils/top-filter";
@import "utils/modal";
@import "utils/video_list_item";
@import "utils/filter-result-wrapper";
@import "utils/feedback";


// @import "../../font/iconfont.css";
$url-font: '../../font';




//debug

//*{
//  outline: 1px solid rgba(0,0,0,.02);
//}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1453819434_8007889.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1453819434_8007889.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1453819434_8007889.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1453819434_8007889.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1453819434_8007889.svg#iconfont') format('svg'); /* iOS 4.1- */
}



*.hide.hide.hide.hide.hide.hide{
  display: none;
}



html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  // background: #f1f1f1;

}
body {
    background: #f5f5f5;
    min-width: 1200px;
    overflow-y: scroll;
}
.container{
  transition: .3s;
  min-width: 1200px;
}
.container >.content{
  display: inline-block;
  position: relative;
  padding-top: 30px;
  padding-left: $left-filter-width + 10px;
  min-height: calc(100% - 55px - 42px);
  padding-right: 2px; //为了使得溢出部分阴影展现
  transition: .3s;
  overflow: auto;
}
.content.hide-left-filter{
  overflow: hidden;
  padding-left: 10px;

  .g__left-filter{
    left:-250px;
  }
}




::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  cursor: pointer;
}


//pages

.__index {
  @import "home/index";

}

.__lines__table{
  .container{
    min-width: 960px;
  }
  @import "home/lines__table";
}

.__video__play{
  @import "video/video__play";
}


.__side__search{
  @import "search/side";
}


.__major__select{
  @import "home/select-major";
  @import "./utils/m_major_school_modal";
}

.__user__user_center{
  background-color: #f1f1f1;
  @import "home/user__user_center";
}

.__school_detail{
  @import "home/school_index";
}
