<html ng-app>

<head>
    <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
    <link rel="stylesheet" href="../../select2/dist/css/select2.min.css"/>
    <script src="../../assets/javascripts/common.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2873413329&debug=true"></script>
    <script src="../../lib/angular.min.js"></script>
</head>

<body>
<header class="header g__header">

</header>
<div class="container-fluid __index text-center">
    <div id="m_slider_wrapper">
      
    </div>
    <div id="m_slider_wapper">

    </div>
    <footer>
        powered by  @Leeche
    </footer>
</div>


</body>
<script src="../../select2/dist/js/select2.min.js"></script>
<script>
    $('select').select2();
</script>

</html>
