<html ng-app>

<head>
    <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
    <link rel="stylesheet" href="../../select2/dist/css/select2.min.css"/>
    <script src="../../assets/javascripts/common.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/cookie.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2873413329&debug=true"></script>
    <script src="../../lib/underscore.js"></script>
</head>

<body class="__school_detail">
<header class="header g__header">

</header>


<div class="container  text-center">

    <div class="content" id="g_content">
        <!-- left-filter -->
        <div class="g__left-filter" id="g_left_filter">
        </div>
        <!-- left-filter -->

        <!-- right content -->
        <!-- right content -->

    </div>


    <footer>
        powered by @Leeche
    </footer>
</div>


</body>
<script src="../../select2/dist/js/select2.min.js"></script>
<script>

    function hide_left_filter() {
        $('#g_content').toggleClass('hide-left-filter');
    }
</script>
<script type="text/html" id="temp-major">
    <% _.each(majors, function(major){ %>
    <a class="m_major">
        <% if(major.icon){ %>
        <div class="m_icon"><%= major.icon %></div>
        <% } %>
        <div class="m_text"><%= major.name %></div>
    </a>
    <% }) %>
</script>
<script src="../../assets/javascripts/all.js"></script>
<script>
</script>

<script>
  (function(){
    var c = new com.school_intro();
  })();

</script>

</html>
