<html ng-app>

<head>
    <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
    <link rel="stylesheet" href="../../select2/dist/css/select2.min.css"/>
    <script src="../../assets/javascripts/common.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/angular.min.js"></script>
</head>

<body>
<header class="header g__header">
    <div class="col-md-3 logo text-center"></div>
    <div class="col-md-6 search-area text-center">
        <input type="text" class="form-control m-input" id="search_input"/>
        <span for="search_input" class="col btn btn-primary cn">搜索</span>
    </div>
    <div class="col-md-3 h__user text-right">
        <div class="head"></div>
        <a class="username">我</a>
        <a class="btn_login">登录</a>
        <a class="btn_logout">登出</a>
    </div>
</header>


<div class="container  text-center __major__select">

    <div class="content" id="g_content">
        <!-- left-filter -->
        <div class="g__left-filter">
            <span class="toggle-filter-btn" onclick="hide_left_filter()">收起左侧筛选</span>
            <!-- 头部筛选标准 -->
            <div class="m-wrapper wrapper-1">
                <div class="wen-li">
                    <div class="item">
                        <input type="radio" id="wen" name="wen_li" checked=""/>
                        <label for="wen">
                            <em>理科</em>
                        </label>
                    </div>
                    <div class="item">
                        <input type="radio" id="li" name="wen_li"/>
                        <label for="li">
                            <em>文科</em>
                        </label>
                    </div>
                </div>

                <div class="province-wrapper">
                    <select name="" id="">
                        <option value="beijing">北京</option>
                        <option value="beijing">西藏</option>
                    </select>
                </div>

                <div class="grade-wrapper">
                    <input type="text" class="form-control m-input" placeholder="请输入分数段"/>
                </div>
            </div>
            <!-- 头部筛选标准 -->
            <!-- 志愿检索方式 -->
            <div class="m-wrapper wrapper-2">
                <h5>志愿推荐</h5>

                <div class="link-box">
                    <button><i>&#xe652;</i><span>按专业检索</span></button>
                </div>
                <div class="link-box">
                    <button><i>&#xe650;</i><span>按高校检索</span></button>
                </div>
            </div>
            <!-- 志愿检索方式 -->
            <!-- 数据资料 -->
            <div class="m-wrapper wrapper-2">
                <h5>数据资料</h5>

                <div class="link-box">
                    <button><i>&#xe653;</i><span>学院排行与查询</span></button>
                </div>
                <div class="link-box">
                    <button><i>&#xe64f;</i><span>专业查询</span></button>
                </div>
                <div class="link-box">
                    <button><i>&#xe64d;</i><span>批次线查询</span></button>
                </div>
            </div>
            <!-- 数据资料 -->


        </div>

        <!-- left-filter -->


        <div class="g__filter-result-wrapper">
            <table class="major-table">
                <thead>
                <tr>
                    <th class="active">学科门类</th>
                    <th>专业类</th>
                    <th>专业</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span></span>
                    </td>
                    <td>
                        <span></span>
                    </td>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="m_major-wrapper">
                            <a class="m_major">
                                <div class="m_icon">&#xe65d;</div>
                                <div class="m_text">哲学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe65b;</div>
                                <div class="m_text">经济学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe656;</div>
                                <div class="m_text">法学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe65c;</div>
                                <div class="m_text">教育学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe657;</div>
                                <div class="m_text">文学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe65a;</div>
                                <div class="m_text">历史学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe65f;</div>
                                <div class="m_text">理学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe661;</div>
                                <div class="m_text">工学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe659;</div>
                                <div class="m_text">农学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe654;</div>
                                <div class="m_text">医学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe655;</div>
                                <div class="m_text">军事学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe65e;</div>
                                <div class="m_text">管理学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe660;</div>
                                <div class="m_text">艺术学</div>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>

        <div class="g__filter-result-wrapper">
            <table class="major-table step-2">
                <thead>
                <tr>
                    <th>学科门类</th>
                    <th width="33.3%" class="active">专业类</th>
                    <th width="33.3%">专业</th>
                </tr>
                </thead>
                <tbody>
                <tr class="selected-tr">

                    <td>
                        <em>学科门类-已选择:</em>
                        <a class="m_major">
                            <div class="m_icon">&#xe65d;</div>
                            <div class="m_text">哲学</div>
                        </a>
                    </td>
                    <td>
                        <em>专业类:未选择</em>
                    </td>
                    <td>
                        <em>专业:未选择</em>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="m_major-wrapper">
                            <a class="m_major">
                                <div class="m_icon">&#xe65d;</div>
                                <div class="m_text">哲学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe65b;</div>
                                <div class="m_text">经济学</div>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>

        <div class="g__filter-result-wrapper">
            <table class="major-table">
                <thead>
                <tr>
                    <th>学科门类</th>
                    <th>专业类</th>
                    <th class="active">专业</th>
                </tr>
                </thead>
                <tbody>
                <tr class="selected-tr">

                    <td>
                        <em>学科门类-已选择:</em>
                        <a class="m_major">
                            <div class="m_icon">&#xe65d;</div>
                            <div class="m_text">哲学</div>
                        </a>
                    </td>
                    <td>
                        <em>专业类-已选择:</em>
                        <a class="m_major">
                            <div class="m_text">进口挖掘机修理与维护</div>
                        </a>
                    </td>
                    <td>
                        <em>专业:未选择</em>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="m_major-wrapper">
                            <a class="m_major">
                                <div class="m_icon">&#xe65d;</div>
                                <div class="m_text">哲学</div>
                            </a>
                            <a class="m_major">
                                <div class="m_icon">&#xe65b;</div>
                                <div class="m_text">经济学</div>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>


    <footer>
        powered by @Leeche
    </footer>
</div>


</body>
<script src="../../select2/dist/js/select2.min.js"></script>
<script>
    $('select').select2();
    function hide_left_filter() {
        $('#g_content').toggleClass('hide-left-filter');
    }
</script>
<script>
    var level_1_data = [
        {icon: '&#xe65d;', name: '哲学'},
        {icon: '&#xe65b;', name: '经济学'},
        {icon: '&#xe656;', name: '法学'},
        {icon: '&#xe65c;', name: '教育学'},
        {icon: '&#xe657;', name: '文学'},
        {icon: '&#xe65a;', name: '历史学'},
        {icon: '&#xe65f;', name: '理学'},
        {icon: '&#xe661;', name: '工学'},
        {icon: '&#xe654;', name: '医学'},
        {icon: '&#xe655;', name: '军事学'},
        {icon: '&#xe65e;', name: '管理学'},
        {icon: '&#xe660;', name: '艺术学'}
    ];

</script>
<script>
    var controller = function () {
        this.table = $('#');
//        this.dom = $('#');
        this.render = _.template($('#temp-major').html());
    };
    controller.prototype = {
        getLeftFilterRes : function(){

        },
        render_level_1:function(){
            var html = this.render({majors:level_1_data});

        },
        render_level_2:function(){

        },
        render_level_3:function(){

        }
    }
</script>
<script type="text/html" id="temp-major">
    <% _.each(majors,function(major){ %>
    <a class="m_major" data-major="<%-major.name%>">
        <% if(major.icon){ %>
        <div class="m_icon"><%- major.icon %></div>
        <%}>
        <div class="m_text"><%= major.name %></div>
    </a>
    <% } %>
</script>

</html>
