<html ng-app>

<head>
    <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
    <link rel="stylesheet" href="../../select2/dist/css/select2.min.css"/>
    <script src="../../assets/javascripts/common.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/underscore.js"></script>
</head>

<body>
<header class="header g__header">
    <div class="col-md-3 logo text-center"></div>
    <div class="col-md-6 search-area text-center">
        <input type="text" class="form-control m-input" id="search_input"/>
        <span for="search_input" class="col btn btn-primary cn">搜索</span>
    </div>
    <div class="col-md-3 h__user text-right">
        <div class="head"></div>
        <a class="username">我</a>
        <a class="btn_login">登录</a>
        <a class="btn_logout">登出</a>
    </div>
</header>


<div class="container  text-center __major__select">

    <div class="content" id="g_content">
        <!-- left-filter -->
        <div class="g__left-filter" id="g_left_filter">


        </div>

        <!-- left-filter -->


        <div class="g__filter-result-wrapper">
            <table class="major-table">
                <thead>
                <tr id="major_thead">
                    <th class="level_1">学科门类</th>
                    <th class="level_2">专业类</th>
                    <th class="level_3">专业</th>
                </tr>
                </thead>
                <tbody>
                <tr class="selected-tr" id="selected_tr">

                    <td class="level_1">
                        <em>学科门类</em>

                    </td>
                    <td class="level_2">
                        <em>专业类</em>
                    </td>
                    <td class="level_3">
                        <em>专业</em>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" id="majors_wrapper">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <footer>
        powered by @Leeche
    </footer>
</div>


</body>
<script src="../../select2/dist/js/select2.min.js"></script>
<script>

    function hide_left_filter() {
        $('#g_content').toggleClass('hide-left-filter');
    }
</script>
<script type="text/html" id="temp-major">
    <% _.each(majors, function(major){ %>
    <a class="m_major">
        <% if(major.icon){ %>
        <div class="m_icon"><%= major.icon %></div>
        <% } %>
        <div class="m_text"><%= major.name %></div>
    </a>
    <% }) %>
</script>
<script src="../../assets/javascripts/all.js"></script>
<script>
    (function(){
        var c = new com.select_major();
    })();
</script>

</html>
