<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>个人中心</title>

    <script src="../js/lib/jquery-1.11.2.min.js"></script>
    <script src="../js/lib/iPtdqx.js"></script>

    <!--重置样式-->
    <link rel="stylesheet" href="../css/reset.css"/>
    <!--交互动画-->
    <link rel="stylesheet" href="../css/animations.css"/>
    <!--页面总体布局，大体的类-->
    <link rel="stylesheet" href="../css/index_style.css"/>
    <!--header-bar-->
    <link rel="stylesheet" href="../css/header.css"/>
    <!--日历-->
    <link rel="stylesheet" href="../css/calendar.css"/>
    <!--待办项-->
    <link rel="stylesheet" href="../css/schedule_board.css"/>
    <!--卡片-->
    <link rel="stylesheet" href="../css/card.css"/>
    <!--滚动条-->
    <link rel="stylesheet" href="../css/scroll_bar.css"/>
    <!--font-awesome-->
    <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css"/>
    <!---->


    <style>

    </style>

    <!--脚本-->
    <!--日历项-->
    <script src="../js/calendar.js"></script>
    <!--日程安排控件项-->
    <script src="../js/schedule_board.js"></script>
    <!--获取农历日期-->
    <script src="../js/lib/get_cn_date.js"></script>
    <!--瀑布流布局-->
    <script src="../js/waterfall_scroll.js"></script>
    <!--滚动条-->
    <script src="../js/scrollbar.js"></script>
    <!--UI动画-->
    <script src="../js/UI_animate.js"></script>


</head>