module.exports =
`<header class="header g__header <%- USER.isLogin?'':'not-login' %>">
    <div class="col header_left">
      <div class="col logo">

      </div>
      <ul class="header-nav">
        <li class="nav-filter filter_province" data-target="province">地区</li>
        <li class="nav-filter filter_category" data-target="category">类别</li>
        <li class="nav-filter filter_tags" data-target="tags">标签</li>
        <li class="nav-filter filter_major">学科</li>
        <!--hover list begin-->
        <div class="m-hover-list">
          <div class="m-list province">
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=北京">北京</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=天津">天津</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=重庆">重庆</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=上海">上海</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=河北">河北</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=山西">山西</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=辽宁">辽宁</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=吉林">吉林</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=黑龙江">黑龙江</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=江苏">江苏</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=浙江">浙江</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=安徽">安徽</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=福建">福建</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=江西">江西</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=山东">山东</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=河南">河南</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=湖北">湖北</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=湖南">湖南</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=广东">广东</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=海南">海南</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=四川">四川</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=贵州">贵州</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=云南">云南</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=陕西">陕西</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=甘肃">甘肃</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=青海">青海</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=台湾">台湾</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=内蒙古">内蒙古</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=广西">广西</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=西藏">西藏</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=宁夏">宁夏</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=新疆">新疆</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=香港">香港</a>
             <a target="_blank" href="/XBT/html/layout/select_school.html?province=澳门">澳门</a>
          </div>
          <div class="m-list category">
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=综合类">综合类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=理工类">理工类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=财经类">财经类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=军事类">军事类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=林业类">林业类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=民族类">民族类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=农林类">农林类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=商学院">商学院</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=师范类">师范类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=医药类">医药类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=艺术类">艺术类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=语文类">语文类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=语言类">语言类</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?category=政法类">政法类</a>
          </div>
          <div class="m-list tags">
            <a target="_blank" href="/XBT/html/layout/select_school.html?tag=211">211</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?tag=985">985</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?tag=研究生院">研究生院</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?tag=国防生">国防生</a>
            <a target="_blank" href="/XBT/html/layout/select_school.html?tag=卓越计划">卓越计划</a>
          </div>
          <div class="m-list level1">
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=理学">理学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=艺术学">艺术学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=经济学">经济学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=管理学">管理学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=法学">法学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=文学">文学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=教育学">教育学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=工学">工学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=哲学">哲学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=历史学">历史学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=医学">医学</a>
            <a target="_blank" href="/XBT/html/layout/select_major.html?level1=军事学">军事学</a>
          </div>
        </div>
        <!-- hover list end -->
      </ul>
    </div>
    <form class="col search-area text-center" action="/XBT/html/layout/select_school.html">
        <div class="input-content-wrapper">
          <input type="text" class="m-input" name="school_name" id="search_input" placeholder="在此处输入你想搜索的学校"/>
          <button for="search_input" class="btn header-search-btn" id="header_search_btn"></button>
        </div>
    </form>
    <div class="col h__user text-right">
        <div class="head" style="background-image:url('<%- USER.avatar_url %>')"><img src="<%- USER.avatar_url %>" alt=""></div>
        <a href="/XBT/html/layout/static_user_center.html" class="username"><%- USER.username %></a>
        <a class="btn_login">登录</a>
        <a class="btn_register">注册</a>
        <a class="btn_logout">登出</a>
        <a class="btn_APP">下载APP</a>
    </div>
    <div class="download-app hide _hide">
      <button class="bg" type="button">
        <div class="intro">
        </div>
        <div class="m-close m_close">关闭</div>
      </button>
    </div>
    <div class="m-right-bottom-btns" id="g_right_bottom_btns">
      <div class="m-back-top" id="g_back_top"><span>回到顶部</span><i></i></div>
      <div class="m-feedback" id="g_feedback_show"><span>朕要吐槽</span><i></i></div>
    </div>
</header>`
