module.exports =
`<div class="g__mask m__major_modal_mask" id="m__major_modal_mask">
  <div class="g__modal-window m__major_modal_window" id="m__modal_window">
    <div class="m-modal-title">
      <span><%- major %></span>
    </div>
    <div class="m-modal-content">
      <h4>匹配院校</h4>
      <div class="m-scroll-view">
        <ol class="m-school-list">
          <%_.each( universities ,function(uni,i){ %>
            <li>
              <a target="_blank" href="/XBT/html/layout/school_detail.html?school_id=<%= uni.name %>">
                <span><em><%= i+1 %></em> <%= uni.name %></span>
              </a>
            </li>
          <% })%>
        </ol>
      </div>
    </div>
  </div>
</div>`
