module.exports =
`
<% _.each(majors, function(major){ %>
<a class="m_major">
    <% if(major.icon){ %>
    <div class="m_icon"><%= major.icon %></div>
    <% } %>
    <div class="m_text"><%= major.name %></div>
</a>
<% }) %>
`;
