module.exports =
`
<% _.each(tags,function(tag){ %>
  <em class="tag">
    <span><%= tag.text %></span>
    <i title="去掉此标签" data-tag="<%= tag.text %>" data-wrapper="<%= tag.wrapper %>" ></i>
  </em>
<% }) %>
`
