@keyframes fadeIn {
  from {background-color: rgba(0,0,0,0);}
  to {background-color: rgba(0,0,0,0.35);}
}
@keyframes toggleIn {
  from { transform: scale(0.7); opacity: 0;}
  to { transform: scale(1);opacity: 1;}
}
@keyframes toggleOut {
  from { transform: scale(1); opacity: 1;}
  to { transform: scale(0);opacity: 0;display: none;}
}
@keyframes fadeOut {
  from {background-color: rgba(0,0,0,.35);}
  to {background-color: rgba(0,0,0,0);}
}
