$color-main : #ed7246;
$color-main-hover: #0275d8;


$color-main-b: #4DBFE0;
// $color-main-b: #008cee;
$color-main-g: #4AB579;

$color-font-main: #3E3A39;
$color-border-select: #686767;
$color-border-hover: $color-main;

$color-secondary: #848484;

$color-bg-left: #4B4E4E;
$color-bg-header: #282B2B;

$color-border: #dedede;


//variables
$left-filter-width: 240px;


$icon-woyaotucao: "\e669";
$icon-huidaodingbu: "\e668";
$icon-xiazai: "\e667";
$icon-search3-copy: "\e666";
$icon-yuanquan: "\e646";
$icon-duihua: "\e63e";
$icon-appreciate: "\e643";
$icon-check: "\e600";
$icon-close: "\e601";
$icon-favorfill: "\e602";
$icon-favor: "\e603";
$icon-roundcheckfill: "\e604";
$icon-roundcheck: "\e605";
$icon-roundclosefill: "\e606";
$icon-roundclose: "\e607";
$icon-roundrightfill: "\e608";
$icon-roundright: "\e609";
$icon-timefill: "\e60a";
$icon-time: "\e60b";
$icon-likefill: "\e60c";
$icon-like: "\e60d";
$icon-order: "\e60e";
$icon-back: "\e60f";
$icon-myfill: "\e610";
$icon-my: "\e611";
$icon-top: "\e612";
$icon-pulldown: "\e613";
$icon-pullup: "\e614";
$icon-right: "\e615";
$icon-refresh: "\e616";
$icon-moreandroid: "\e617";
$icon-delete: "\e63f";
$icon-weibo: "\e618";
$icon-squarecheckfill: "\e619";
$icon-square: "\e61a";
$icon-squarecheck: "\e61b";
$icon-round: "\e61c";
$icon-roundaddfill: "\e61d";
$icon-roundadd: "\e61e";
$icon-notificationforbidfill: "\e61f";
$icon-forwardfill: "\e644";
$icon-forward: "\e645";
$icon-voice: "\e620";
$icon-voicefill: "\e621";
$icon-sort: "\e622";
$icon-down: "\e623";
$icon-mobile: "\e624";
$icon-loading: "\e640";
$icon-pullleft: "\e625";
$icon-pullright: "\e626";
$icon-play: "\e647";
$icon-loading1: "\e642";
$icon-iconloading: "\e641";
$icon-markfill: "\e627";
$icon-mark: "\e628";
$icon-repeal: "\e629";
$icon-pause: "\e648";
$icon-album: "\e62a";
$icon-peoplefill: "\e62b";
$icon-people: "\e62c";
$icon-zhangshangcaifuyemianshoujiban344: "\e62d";
$icon-backwardfill: "\e62e";
$icon-forwardfill1: "\e62f";
$icon-playfill: "\e630";
$icon-stop: "\e631";
$icon-rounddown: "\e632";
$icon-upload: "\e633";
$icon-videofill: "\e634";
$icon-video: "\e635";
$icon-add: "\e636";
$icon-move: "\e637";
$icon-circle19: "\e649";
$icon-sound: "\e638";
$icon-jiantoushang: "\e64a";
$icon-qq1193403easyiconnet: "\e639";
$icon-qzone1193405easyiconnet: "\e63a";
$icon-renren1193407easyiconnet: "\e63b";
$icon-wechat1193418easyiconnet: "\e63c";
$icon-weibo1193419easyiconnet: "\e63d";
$icon-hricon39: "\e64b";
