@import "../../settings";

* {
  outline: none !important;
}

h2{
  font-size: 20px;
  text-indent: 5px;
  padding: 10px 0;
  &:after{
    content: " : ";
  }
}

table {
  $color-bg-odd: #f1f1f1;
  $line-height: 2em;
  width: 100%;
  border: 1px solid $color-border;
  border-collapse: separate;

  thead {
    background-color: $color-bg-odd;
    text-align: left;
    th {
      font-weight: normal;
      width: 16.6%;
      font-size: 14px;
      &:first-child{
        width: 50%;
      }
      line-height: $line-height + 1;
      padding-left: 15px;
    }
  }
  tbody {
    color: $color-secondary;
    border-collapse: collapse;
    tr {
      transition: ease 0.1s;
      font-size: 14px;
      td {
        width: 16.6%;
        height: 45px;
        transition: ease 0.1s;
        &:first-child{
          width: 50%;
          border-left: 5px solid transparent;
          i{
            color: transparent;
          }
        }
        line-height: $line-height;
        padding-left: 25px;
        border: none;
      }

      &:hover {
        color: $color-main-b;
        background-color: rgba(0,0,0,.01);
        td:first-child{
          border-color: $color-main-b;

        }
      }
      &:nth-child(even) {
        background-color: $color-bg-odd;
      }
    }
  }
}


