@import "../mixin/css3";
@import "../../settings";
@import "../../extends";

.major-table{
  width: 100%;
  thead{
    padding-bottom: 10px;
    th{
      cursor: pointer;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      height: 40px;
      width: 33.3%;
      line-height: 40px;
      color: $color-font-main;
      box-sizing: border-box;
      border-bottom: 1px solid $color-border;
      &.active{
        color: $color-main-b;
        border-color: $color-main-b;
      }
      &:hover{
        color: $color-main-b;
        //border-color: $color-main-b;
      }
    }
  }
  tbody{
    td{
      vertical-align: top;
      padding-top: 10px;
      text-align: left;
    }
    tr.selected-tr td{
      vertical-align: middle;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-border;
      em{
        display: block;
        color: $color-secondary;
        font-style: normal;
        margin-left: 5px;

      }
    }

  }
}

.m__select-title{
   .title-1{
     width: 200px;
   }
  .title-2{

  }
}