@import "../mixin/css3";
@import "../../settings";
@import "../../extends";
@import "../../extends/animation";

%blur {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    overflow: hidden;
}


.content{
  width: 960px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
}
footer{
  width: 960px;

  margin: auto;
  background-color: #fff;
}
.g__modal-window.m_user_info_modal{
  .m-title-item{
    width: 100%;
  }
  .m-user-head{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 100px;
    max-height: 120px;
    height: auto;
  }
  .m-user-avatar-form{
    margin-top: 20px;
  }
}
.m_left_wrapper{
  display: block;
  position: relative;
  float: left;
  height: auto;
  width: 240px;

  .user-info-card{
    position: relative;
    box-sizing: border-box;
    width: inherit;
    height: 325px;

    border-radius: 3px;
    background-color: #fff;
    border: 1px solid $color-border;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    transition: .3s;
    @extend %toggleIn;

    &:hover{
      box-shadow: 1px 1px 8px 0 rgba(0,0,0,.2);
    }

    .user-head-box{
      position: relative;
      width: 100%;
      border-radius: 3px 3px 0 0;
      height: 160px;
      overflow: hidden;
      box-sizing: border-box;
      text-align: center;
      .user-head-bg{
        display: block;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @extend %blur;
      }
      .m-avatar{
        display: block;
        position: relative;
        box-sizing: border-box;
        margin: auto;
        margin-top: 30px;
        width: 82px;
        height: 82px;
        border-radius: 80px;
        border: 2px solid #fff;
        box-shadow: 0 0 3px #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all ease .3s;
        &:hover{
          box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
        }

      }
      h2{
        position: relative;
        color: #fff;
        margin: 12px auto 0 auto;
        font-size: 20px;
        text-shadow: 0 0 2px #000;
        transition: ease .3s;
        cursor: pointer;

        &:hover{
          text-shadow: 0 0 0.8em  #000;
        }
      }

    }

    .user-intro-box{
      position: relative;
      width: inherit;
      height: 325px - 160px;
      .intro{
        padding-top: 30px;
        word-break: break-all;
        line-height: 1.6;
        font-size: 14px;
        height: 100px;
        overflow: hidden;
        width: 240px - 2*30px;
        margin: auto;
        color: $color-secondary;
        text-align: center;

        em{
          display: inline;
          font-style: normal;
          color: $color-font-main;
        }
        a{
          display: block;
          padding: 5px;
          &:before{
            content: '\e652';
            @extend %iconfont;
            padding-right: 4px;
          }
        }
      }
      &>em{
        display: block;
        font-style: normal;
        font-size: 16px;
        margin-top: 10px;
        user-select: none;
        span{
          font-weight: bold;
          padding-left: 10px;
        }
      }
    }
    @extend %toggleIn;
  }

  .user-collect-video-card{
    position: relative;
    box-sizing: border-box;
    width: inherit;
    height: auto;
    margin-top: 30px;
    padding: 20px;

    border-radius: 3px;
    background-color: #fff;
    border: 1px solid $color-border;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    transition: .3s;

    &:hover{
      box-shadow: 1px 1px 8px 0 rgba(0,0,0,.2);
    }

    h2{
      text-align: left;
      padding: 5px 0 10px 0;
      font-size: 18px;
      cursor: default;
      user-select: none;
    }
    .my-video-list{
      padding: 0;
      list-style: none;
      .video{
        position: relative;
        width: 100%;
        height: 50px;
        box-sizing: content-box;
        margin: 10px 0;
        text-align: left;
        overflow: hidden;

        .poster{
          display: block;
          float: left;
          width: 50px;
          height: 50px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('../../img/logo.png');
        }
        .link-wrapper{
          display: block;
          float: right;
          text-align: left;
          width: 130px;
          height: 50px;

          background: transparent;
          a{
            display: inline;
            vertical-align: middle;
            line-height: 1.4;
            color:$color-secondary;
            font-size: 14px;
          }
        }
      }
    }

  }

}

.m_right_wrapper{
  display: block;
  position: relative;
  float: right;
  height: auto;
  width: 630px;
  position: relative;
  box-sizing: border-box;
  padding: 30px 30px;

  border-radius: 3px;
  background-color: #fff;
  border: 1px solid $color-border;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
  transition: .3s;


  &:hover{
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,.2);
  }

  .school-section{
    display: block;
    width: 100%;
    padding: 20px 10px 10px 10px;
    border-top: 1px solid $color-border;
    position: relative;
    .school-avatar{
      float: left;
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }
    .school-right{
      float: left;
      box-sizing: border-box;
      padding: 0 15px;
      width: 480px;
      text-align: left;
      h3{
        //school-name
        margin-top: 6px;
        font-size: 18px;
      }
      .tags-wrapper{
        .tag{
          font-size: 16px;
          color: $color-secondary;
          margin-right: 5px;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

  }
}
